<p id="notice"><%= notice %></p>


<div class="flex justify-center items-center w-full h-screen bg-indigo-50">
  <div class="flex flex-col w-full p-4">
    <div class="flex space-x-2 justify-center items-center">
      <div class="font-bold text-2xl">Currency Exchange in Realtime</div>
      <div class="">Updates every 1 hour</div>
      <%= link_to 'Updates Now!', fetch_path, method: :post, class: 'bg-pink-500 hover:bg-pink-400 text-white px-4 py-2' %>
    </div>

    <%= turbo_stream_from :quotations %>
    <!-- graph container -->
    <div class="flex justify-start space-x-4 items-end w-full overflow-x-auto px-10 mt-10 bg-white rounded" id="quotations">
      <%= render @quotations %>
    </div>
  </div>
</div>
