---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/api/latest?access_key=6402715219b19a99fb22bbb27f0b7381&symbols=BRL,USD,%20AUD,%20EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - c69c7676-bb49-4734-8c7e-4fb4fe384257
      Last-Modified:
      - Tue, 01 Jun 2021 16:29:03 GMT
      Etag:
      - 16542063259d9032939e9992b32bef32
      X-Request-Time:
      - '0.010'
    body:
      encoding: UTF-8
      string: '{"success":true,"timestamp":1622564943,"base":"EUR","date":"2021-06-01","rates":{"BRL":6.317088,"USD":1.223578,"AUD":1.577071,"EUR":1}}'
  recorded_at: Tue, 01 Jun 2021 16:35:41 GMT
recorded_with: VCR 6.0.0
